footer
  height 70px
  border 1px solid red
  padding 10px
  flex-grow 1
  padding-left 20px
  padding-right 20px
  .infos
    text-align center
  .navigationArea
    width 100%
    display flex
    justify-content space-between
    border 1px solid darkblue


html,body
  height 100%
  margin 0
.masterContainer
  width:100%
  height 100%
  display flex
  border 2px solid blue
  flex-direction column

  .mainContent

    flex-grow 3
    border 1px solid yellow
    text-align center

.bnone
  background none !important
  border none !important

.invisibleBtn
  display none

.invisible
  visibility hidden

.headerContainer
  display: flex
  flex-grow 1
  background-color darkblue
  border-bottom 2px solid gold
  min-height 25px
  height: auto
  padding 10px

  .logo
    align-self flex-start